<header>
  <nav>
    <%= link_to root_path, class: "navbar-brand" do %>
      <h1>学習Tips Bar</h1>
    <% end %>

    <ul>
      <li><%= link_to "ログイン", login_path %></li>
      <li><%= link_to "アカウントを作成する", new_user_path %></li>
    </ul>
  </nav>
</header>
